@model WebApp.Models.Book

<!DOCTYPE html>

<html>
<head>
    <title>Dodaj Książkę</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Dodaj Nową Książkę</h2>
            <form asp-action="Save" method="post">
                <div class="mb-3">
                    <label class="form-label" for="title">nazwa</label>
                    <input class="form-control" type="text" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="author">Producent</label>
                    <input class="form-control" type="text" asp-for="Producent" />
                    <span asp-validation-for="Producent" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pages">cena</label>
                    <input class="form-control" type="number" asp-for="Cena" />
                    <span asp-validation-for="Cena" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="yearPublished">Rok Produkcji</label>
                    <input class="form-control" type="number" asp-for="YearPublished" />
                    <span asp-validation-for="YearPublished" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="publisher">Opis</label>
                    <input class="form-control" type="text" asp-for="Opis" />
                    <span asp-validation-for="Opis" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
